<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>智能登录系统</title>
</head>
<body>
<h1>登录系统</h1>
    <div>
        <form action="loginJudge" method="post">
            <table>
                <tr>
                    <td>username</td>
                    <td><input type="text" name="username"></td>
                </tr>

                <tr>
                    <td>password</td>
                    <td><input type="password" name="password"></td>
                </tr>

                <tr>
                    <td><input type="submit" value="sign in"></td>
                </tr>

            </table>
        </form>
    </div>
    <div>
        <form action="register" method="post">
        push here to sign up<input type="submit" value="sign up">
        </form>
    </div>
</body>
</html>