


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
</head>
<body>
<div>
    <form action="registerJudge" method="post">
        <table>
            <tr>
                <td>username</td>
                <td><input type="text" name="username"></td>
            </tr>

            <tr>
                <td>password</td>
                <td><input type="password" name="password"></td>
            </tr>

            <tr>
                <td>verify or not</td>
                <td>
                    <select name="verify">
                        <option value="1">yes</option>
                        <option value="0">no</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td><input type="submit" value="sign up"></td>
            </tr>

        </table>
    </form>
</div>
</body>
</html>